.about-me {
  background: linear-gradient(
    101.9deg,
    rgb(253, 183, 220) 25%,
    rgb(240, 213, 190) 38.1%,
    rgb(249, 240, 206) 55.5%,
    rgb(253, 244, 210) 67.3%,
    rgb(222, 248, 226) 85.2%,
    rgb(200, 247, 242) 103.6%
  );
}
.about-me-contents {
  max-width: 600px;
  text-align: left;
}
.photo {
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
  box-shadow: 10px 5px 5px rgb(115, 114, 114, 0.7);
}
